<h1>Hi <%= name %></h1>

<button type="button" onclick="window.open('http://eve.kean.edu/~watsanna/maze/maze.html')">Start Game</button>


<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>








